/* General Reset */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8f9;
    color: #333;
    background-image: url("../images/watercolor-light-steel-blue-wallpaper-image.jpg");
    background-size: cover;
  }
  
  /* Header Styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    max-height: 100%;
    width:100%;
    margin-left: 30px;
    max-width: 200px;
    height: 50px;
  }
.nav-icons {
    display: flex; /* Flexbox for horizontal alignment */
    align-items: center; /* Vertically center the icons */
    gap: 30px; /* Space between icons */
}
.nav-icons i, .user-icon i {
  font-size: 24px;
  width: 24px; /* Set a fixed width for the icons */
  height: 24px; /* Set a fixed height for the icons */
  fill: none; /* Keep the icons transparent unless styled otherwise */
  stroke: #555; /* Match your original stroke color */
  stroke-width: 2;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.nav-icons i:hover, .user-icon i:hover {
  transform: scale(1.2); /* Slight enlargement on hover */
}
.user-container{
  display: none; /* Initially hidden */
  cursor: pointer;
  margin-left: 20px; /* Add spacing between cart and user icon */
}
.auth-buttons .user-actions {
  display: flex;
}

.auth-buttons button {
  margin-left: 15px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-buttons .sell-btn {
  background-color: #2F80ED;
  color: #ffffff;
}

.auth-buttons button:hover {
  background-color: #2F80ED;
}
.register-btn a , .login-btn a  {
  text-decoration: none;
}
.register-btn a:hover, 
.login-btn a:hover {
  color: #ffffff; /* Ensure the text color remains white on hover */
}
/* Categories*/
.categories {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  background-color: #fff;
  font-size: 18px;
  position: relative;
}
.categories .category {
  position: relative; /* Ensure each category has relative positioning */
}
.categories a {
  margin: 0 15px;
  text-decoration: none;
  color: #424242;
  font-size: 18px;
  transition: color 0.3s;
  font-weight: 500;
}

.categories a:hover {
  color: #00796B;
}
.subcategories {
  display: none;
  position: absolute;
  top: 12px;
  left: 0;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 15px;
}

.subcategories li {
  list-style: none;
}

.subcategories a {
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
  color: #424242;
  text-decoration: none;
  font-size: 16px;
}

.subcategories a:hover {
  background-color: #f8f8f8;
}

.category:hover .subcategories {
  display: block;
} 
/* User Container */
.user-container {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid red !important;
  
}
.user-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-menu a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  
}
.dropdown-menu a i {
  margin-right: 8px; /* Adds space between icon and text */
}
.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu.active {
  display: block; /* Ensure the dropdown appears when active */
}
  /* Main Section */
  .main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .progress-bar {
    margin-top: 10px;
    padding: 10px;
    background: #00796B;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
  }
  .subtitle{
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: #7f8c8d;
  }
  .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color:#2c3e50;
  }
  .listings h2, .packages h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  
  .listings {
    width: 48%;
  }
  
  .listing-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
  }
  .listing-item:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}
.listing-item.listing-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
  .listing-image {
    width: 60px;
    height: 60px;
    background-color: #eee;
    margin-right: 15px;
    border-radius: 8px;
  }
  .listing-image img{
    width: 60px;
    height: 60px;
    border-radius: 8px;
  }
  
  .packages {
    width: 48%;
  }
  
  .package {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .package input {
    margin-right: 10px;
  }
  
  .package-details {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .package-details:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  .package-details.premium {
    background-color: #fff6e5;
    border: 1px solid #ffc107;
  }
  .badge {
    display: inline-block;
    background-color: #ffc107;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 6px;
    margin-left: 10px;
    border-radius: 12px;
  }
  
  .pay-button {
    display: block;
    width: 100%;
    padding: 18px;
    font-size: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .pay-button:hover {
    background-color: #2980b9;
    transform: translateY(-5px);
    
  }
  .testimonials {
    margin-top: 40px; /* Space above testimonials */
}

.testimonial {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.faqs {
  margin-top: 40px; /* Space above FAQs */
}

.faq {
  margin-bottom: 20px; /* Space between FAQs */
}

.faq h3 {
  margin-bottom: 10px; /* Space below question */
}
/* Mobile Responsive */
@media (max-width: 1024px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
  }

  .logo img {
      width: 100%;
      max-width: 150px;
      margin-left: 0;
  }

  .categories {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
  }

  .categories .category {
      width: 100%;
  }

  .categories a {
      margin: 5px 0;
  }
  .user-container {
    width: 30px;
    height: 30px;
  }

  .dropdown-menu {
    right: 5px;
    left: 5px; /* Center it more */
    width: calc(100vw - 20px);
  }

  .dropdown-menu a {
    padding: 10px 12px;
  }
  .auth-buttons .user-actions {
    display: flex;
  }
  .auth-buttons.logged-in .user-actions {
    display: none;
  }
  .search-bar {
      margin: 10px 0;
      width: 100%;
  }

  .content {
      flex-direction: column;
  }

  .listings, .packages {
      width: 100%;
  }

  .listing-item, .package {
      flex-direction: column;
      align-items: flex-start;
  }

  .listing-image {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
  }

  .package-details {
      width: 100%;
  }

  .pay-button {
      width: 100%;
  }
}
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
  }

  .logo img {
      width: 100%;
      max-width: 150px;
      margin-left: 0;
  }

  .categories {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
  }

  .categories .category {
      width: 100%;
  }

  .categories a {
      margin: 5px 0;
  }
   .user-container {
    width: 30px;
    height: 30px;
  }

  .dropdown-menu {
    right: 5px;
    left: 5px; /* Center it more */
    width: calc(100vw - 20px);
  }

  .dropdown-menu a {
    padding: 10px 12px;
  }

  .auth-buttons .user-actions {
    display: flex;
  }

  .auth-buttons.logged-in .user-actions {
    display: none;
  }
  .search-bar {
      margin: 10px 0;
      width: 100%;
  }

  .content {
      flex-direction: column;
  }

  .listings, .packages {
      width: 100%;
  }

  .listing-item, .package {
      flex-direction: column;
      align-items: flex-start;
  }

  .listing-image {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
  }

  .package-details {
      width: 100%;
  }

  .pay-button {
      width: 100%;
  }
}

@media (max-width: 480px) {
  .header {
      padding: 10px;
  }

  .logo img {
      width: 100%;
      max-width: 150px;
      margin-left: 0;
  }

  .categories {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
  }

  .categories .category {
      width: 100%;
  }

  .categories a {
      margin: 5px 0;
  }
  .user-container {
    width: 30px;
    height: 30px;
  }

  .dropdown-menu {
    right: 5px;
    left: 5px; /* Center it more */
    width: calc(100vw - 20px);
  }

  .dropdown-menu a {
    padding: 10px 12px;
  }

  .auth-buttons .user-actions {
    display: flex;
  }

  .auth-buttons.logged-in .user-actions {
    display: none;
  }
  .search-bar {
      margin: 10px 0;
      width: 100%;
  }
  .nav-icons {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 20px;
  }
  .content {
      flex-direction: column;
  }

  .listings, .packages {
      width: 100%;
  }

  .listing-item, .package {
      flex-direction: column;
      align-items: flex-start;
  }

  .listing-image {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
  }

  .package-details {
      width: 100%;
  }

  .pay-button {
      width: 100%;
  }
}